.content {
    width: 46rem;
    margin: auto;
}

form{
    margin:2rem 0;
}

.rows{
    margin:1rem 0;
}

.two_columns {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.col1 {
    width: 50%;
    padding-right:0.5rem;
}

.col2 {
    width: 50%;
    padding-left:0.5rem;
}

label {
    display: block;
}

.book_state{
    margin-bottom: 0.5rem
}


.book_state_label{
    font-weight: 600;
    font-size: 1.4rem;
    color: #5C5C5C;
}
.book_image {
    width: fit-content;
}

.book_text {
    width: fit-content;
}

#id_major {
    width: 23rem;
    height: 3.125rem;
    border: 0.0625rem solid #AFB0B9;
    box-sizing: border-box;
    border-radius: 0.375rem;
}

.btns {
    width: fit-content;
    margin:2rem auto;
}

.book_image_input {
    display: block;
    width: 9.625rem;
    height: 9.625rem;
    background-color: #F2F2F2;
    border-radius: 0.625rem;
    font-size: 6.25rem;
    font-weight: 100;
    text-align: center;
    line-height: 8.125rem;
}

.book_image_input:hover{
    cursor:pointer;
}

.book_text_input {
    width: 36rem;
    height: 9.625rem;
    border: none;
    resize: none;
    background: #F2F2F2;
    border-radius: 0.625rem;

    font-weight: 600;
    font-size: 1.25rem;
    padding-top:0.75em;
    padding-left:1.25em;
}

textarea:focus {
    outline: none;
}
.price{
    display:flex;
    align-items:center;
}

#book_price {
    display: block;
}
.book_price{
    overflow:hidden;
    vertical-align: baseline;
}

#unit{
    display:inline-block;
    width:10%;
    float:left;
    border-radius:0 0.625rem 0.625rem 0;
}


.book_chatting_input {
    width: 100%;
}

form textarea::placeholder {
    color: #9C9C9C;
}


#id_price {
    display: inline-block;
    border-radius:0.625rem 0 0 0.625rem;
    width:40%;
    float:left;
}

#free_label {
    display: inline-block;
    font-weight: 500;
    font-size: 1.25rem;
    color: #FB8F1D;
}

.white_content {
    display: none;
    width: 20rem;
    height: 7.188rem;
    padding: 1rem;
    box-shadow: 0px 0px 1.25rem 0.125rem rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.state_box_txt{
    font-size: 0.75rem;
}
.btn_state{
    display:inline-block;
    border: 0;
    outline:0;
    background-color: #FFFFFF;
    height:1rem;
    width:1rem;
}
.btn_close_state{
    border: 0;
    outline:0;
    background-color: #FFFFFF;
}


.open_chatting{
    width:100%;
}

/* -------------------------------------------- */
/* radio button customizing */

/* The free_btn */
.state_btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1.375rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;

    color: #7A7A7A;
}

/* Hide the browser's default radio button */
.state_btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    display: block;
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    z-index: 10;
}

/* On mouse-over, add a grey background color */
.state_btn:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.state_btn input:checked + .gradation1 {
    background-color: #945AA9;
}
.state_btn input:checked +.gradation2 {
    background-color: #AA6287;
}
.state_btn input:checked +.gradation3 {
    background-color: #CC6F51;
}
.state_btn input:checked +.gradation4 {
    background-color: #FF8301;
}


.gradation1 {
    border:solid #945AA9 6px;
}

.gradation2 {
    border:solid #AA6287 6px;
}

.gradation3 {
    border:solid #CC6F51 6px;
}

.gradation4 {
    border:solid #FF8301 6px;
}

.gradation_line{
    background: linear-gradient(to right, #945AA9, #AA6287, #CC6F51, #FF8301);
    height:0.375rem;
    width:98%;
    position:absolute;
    z-index: 0;
}

.state{
    width:23rem;
    display:flex;
    justify-content: space-between;
    position:relative;
}

/* -------------------------------------------- */


/* -------------------------------------------- */
/* checkbox customizing */

/* free_btn */
.free_btn {
    display: inline-block;
    width:40%;
    float:left;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#FB8F1D;
    margin-left: 0.625rem;
  }
  
  /* Hide the browser's default checkbox */
  .free_btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.9rem;
    width: 1.9rem;
    background-color:white;
    border: 0.125rem solid #FF8C38;
    box-sizing: border-box;
    border-radius: 0.3125rem;
  }
  
  /* On mouse-over, add a grey background color */
  .free_btn:hover input ~ .checkmark2 {
    background-color: #ccc;
  }
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark2:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .free_btn input:checked ~ .checkmark2:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .free_btn .checkmark2:after {
    left: 0.07rem;
    top: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FC8C15;
    border: solid white 1px;
  }

/* -------------------------------------------- */


