.wrapper{
    display:flex;
    justify-content:center;
}

#up_category_menu{
    height: 3.125rem;
    width: 46.88rem;
    border: 0.125rem solid #E0E0E0;
    transform: rotate(-0.07deg);
    border-radius: nullpx;
    border:none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    text-align-last: center;
    color: #757575;
}
#line_major_bar{
    width: 46.88rem;
    height: 0rem;
    border: 0.125rem solid #E0E0E0;
    transform: rotate(-0.07deg);
}

#search_bar{
    width: 46.88rem;
    height: 0rem;
    border: 0.125rem solid #E0E0E0;
    transform: rotate(-0.07deg);
    margin-bottom: 1rem;
}
#search_form{
    display:flex;
    justify-content:center;
    margin-bottom: 1rem;
}
.search_input{
    width: 70.88rem;
    height: 3.438rem;
    border:  0.0625rem solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 6.25rem;
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 0rem;
    color: #7B7B7B;
}
form input{
    padding-left:1.25rem;
}
.btn_search{
      width: 2.625rem;
      height:  2.75rem;
      border: 0;
      outline:0;
      background-color: #FFFFFF;
      display: inline;
}
#btn_create{
    width: 12.69rem;
    height: 2.5rem;
    border: 0;
    outline:0;
    background: #FF8300;
    box-shadow: 0.3125rem  0.25rem  0.25rem rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.688rem;
    text-align: center;
    color: #FFFFFF;
    margin-right: -10rem;
    margin-left: 1rem;
}

.filtering-box{

    width: 119rem;
    height: 3.75rem;
    border:0.0625rem solid #FF9F46;
    background: #FF9F46;

    align-items: center;
    margin-bottom: 1rem;
}
.filter-txt{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size:  1.875rem;
    line-height:  1.813rem;
    color: #FFFFFF;
    margin-right: 8rem;
}

button:focus {
    outline: none;
}

.book_delete{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    text-align-last: center;
    color: #757575;
    display:flex;
    justify-content:center;
    margin: auto;
    margin-top: 5rem;
}

.btn{
    background: #FF8C38;
    box-shadow: 0.3125rem  0.25rem  0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;
    font-family: NanumGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 2.188rem;
    /* identical to box height, or 146% */
    text-align: center;
    color: #FFFFFF;
    border: 0;
    outline:0;
}
.btns{
   display:flex;
    justify-content:center;
    margin: auto;
    margin-top: 3rem;

}

