#up_category_menu{
    height: 50px;
    position: absolute;
    width: 750px;
    left: 585px;
    top: 150px;
    border: 2px solid #E0E0E0;
    transform: rotate(-0.07deg);
    border-radius: nullpx;
    border:none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align-last: center;
    color: #757575;
}
#line_major_bar{
    position: absolute;
    width: 750px;
    height: 0px;
    left: 585px;
    top: 190px;
    border: 2px solid #E0E0E0;
    transform: rotate(-0.07deg);
}
.search_input{
    position: absolute;
    width: 1134px;
    height: 55px;
    left: 362px;
    top: 235px;
    border: 1px solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 0px;
    display: flex;
    align-items: center;
    color: #7B7B7B;
}
.btn_search{
      position: absolute;
      width: 42.11px;
      height: 44.11px;
      left: 1513px;
      top: 250px;
      border: 0;
      outline:0;
      background-color: #FFFFFF;
}
#btn_create{
    position: absolute;
    width: 203px;
    height: 40px;
    left: 1380px;
    top: 150px;
    border: 0;
    outline:0;
    background: #FF8300;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.filtering-box{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 310px;
    border:1px solid #FF9F46;
    background: #FF9F46;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
table{
   position: absolute;
   left: 290px;
   top: 395px;
}
th{
    text-align:center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    /* or 175% */
    align-items: center;
    color: #484848;
}
td{
    padding: 10px;
    border-bottom: 10px solid #FFFFFF;
    text-align:center;
    background: #EFEFEF;
}

.tabel_row{
    border-radius: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    color: #484848;
    font-size: 18px;
}
td:nth-child(1){
    width:210px;
}
td:nth-child(2){
    width:250px;
    text-align:left;

}
td:nth-child(3){
    width:290px;
}
td:nth-child(4){
    width:190px;
}
td:nth-child(5){
    width:200px;
}
td:nth-child(6){
    width:200px;
}
input:focus {
    outline: none;
}
.form-check-input{
margin-left:10px;
}
