.wrapper{
    display:flex;
    justify-content:center;
}

#up_category_menu{
    height: 3.125rem;
    width: 46.88rem;
    border: 0.125rem solid #E0E0E0;
    transform: rotate(-0.07deg);
    border-radius: nullpx;
    border:none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    text-align-last: center;
    color: #757575;
}
#line_major_bar{
    width: 46.88rem;
    height: 0rem;
    border: 0.125rem solid #E0E0E0;
    transform: rotate(-0.07deg);
}

#search_bar{
    width: 46.88rem;
    height: 0rem;
    border: 0.125rem solid #E0E0E0;
    transform: rotate(-0.07deg);
    margin-bottom: 1rem;
}
#search_form{
    display:flex;
    justify-content:center;
    margin-bottom: 1rem;
}
.search_input{
    width: 70.88rem;
    height: 3.438rem;
    border:  0.0625rem solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 6.25rem;
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 0rem;
    color: #7B7B7B;
}
form input{
    padding-left:1.25rem;
}
.btn_search{
      width: 2.625rem;
      height:  2.75rem;
      border: 0;
      outline:0;
      background-color: #FFFFFF;
      display: inline;
}
#btn_create{
    width: 12.69rem;
    height: 2.5rem;
    border: 0;
    outline:0;
    background: #FF8300;
    box-shadow: 0.3125rem  0.25rem  0.25rem rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.688rem;
    text-align: center;
    color: #FFFFFF;
    margin-right: -10rem;
    margin-left: 1rem;
}


.filtering-box{
    width: 119rem;
    height: 3.75rem;
    border:0.0625rem solid #FF9F46;
    background: #FF9F46;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 1rem;
}

.filter-txt{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size:  1.875rem;
    line-height:  1.813rem;
    color: #FFFFFF;
    margin-right: 8rem;
}
.free_filter{
    width: 200px;
    height: 60px;
}
.deal_filter{
    width: 12.5rem;
    height: 3.75rem;
}

.free-label{
    padding-left:3.75rem;
    padding-top: 0.625rem;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.813rem;
    color: #FFFFFF;
}
.deal-label{
    padding-left:3.75rem;
    padding-top: 0.625rem;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.813rem;
    color: #FFFFFF;
}

input[type="checkbox"]+label{
    width:  12.5rem;
    height: 3.125rem;
    background: url('../img/not_check.png') no-repeat 0 0rem / contain;
}
input[type='checkbox']:checked+label{
  background: url('../img/check.png') no-repeat 0 0rem / contain;
}
input[type="checkbox"] {
    display: none;
}



table{
/*
    display: flex;
    align-items: center;
    justify-content: center;*/

}
th{
    text-align:center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2.188rem;
    /* or 175% */
    align-items: center;
    color: #484848;
}
td{
    padding: 0.625rem;
    border-bottom: 0.625rem solid #FFFFFF;
    text-align:center;
    background: #EFEFEF;
}

.tabel_row{
    border-radius: 0.625rem;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    color: #484848;
    font-size: 1.125rem;
}
td:nth-child(1){
    width: 26rem;
}
td:nth-child(2){
    width:35rem;
    text-align:left;
}
td:nth-child(3){
    width:30rem;
}
td:nth-child(4){
    width:23rem;
}
td:nth-child(5){
    width:24rem;
}
td:nth-child(6){
    width: 24rem;
}
input:focus {
    outline: none;
}
.form-check-input{
    margin-left:0.625rem;
}
.btn_stated{
    border: 0;
    outline:0;
    background-color: #FFFFFF;
}
.btn_closed_state{
    border: 0;
    outline:0;
    background-color: #FFFFFF;
}
.list_state_content {
    display: none;
    position: absolute;
    top: 40%;
    left: 60%;
    padding: 0.3125rem;
    width: 16rem;
    height: 6.938rem;
    border: 0rem solid black;
    box-shadow: 0rem 0rem 1.25rem 0.125rem rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.state_box_text2{
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    float: left;
}
button:focus {
    outline: none;
}
.no_search{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 5rem;
    color: #757575;
    height:  3.125rem;
    width: 46.88rem;
    display:flex;
    justify-content:center;
    margin: auto;
    margin-top: 5rem

}
.search_word{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 5rem;
    /* or 222% */
    text-align: center;
    color: #757575;
        height: 3.125rem;
    width: 46.88rem;
}




