@include "./constant";


.cross_bar{
    background-color:var(--light-orange);
}

.page_description{
    font-size:var(--font-md-lg);
    font-weight: 700;
    color:white;
}

.content_width{
    margin:0 auto;
    max-width:60rem;
    position:relative;
}

.book_detail_width{
    max-width:25rem;
    margin:0 auto;
}

.img_box{
    width:100%;
    height:25rem;
    background-color:var(--book-row-color);
    display:flex;
    justify-content:center;
    align-items:center;
}

.no_img{
    max-width:25rem;
    height:100%;
}

.book_detail_image{
    height:100%;
} 

.title{
    font-size:var(--font-lg);
    font-weight: 700;
}

.writer{
    font-size:var(--font-md-lg);
}

.writer span{
    font-weight: 900;
}

.upload_date, .author{
    font-size:var(--font-md-sm);
}

.price span{
    font-size:var(--font-md-lg);
    font-weight:700;
}

.btn_update_delete a{
    color:var(--text-color);
}

.circle{
    border-radius:50%;
    border:4px solid;
    width:1.75rem;
    height:1.75rem;
}

.active_circle{
    border-radius:50%;
    width:1.75rem;
    height:1.75rem;
}

.perfect .circle{
    border-color: #945AA9;
    background-color:white;
}

.perfect .active_circle{
    background-color: #945AA9;
}

.good .circle{
    border-color: #AA6287;
    background-color:white;
}

.good .active_circle{
    background-color: #AA6287;
}

.ok .circle{
    border-color: #CC6F51;
    background-color:white;
}

.ok .active_circle{
    background-color: #CC6F51;
}

.bad .circle{
    border-color: #FF8301;
    background-color:white;
}

.bad .active_circle{
    background-color: #FF8301;
}

.book_state_graphic{
    position:relative;
    max-width:25rem;
    font-size: var(--font-sm);
    margin:0.5em 0;
}

hr.gradation_line{
    opacity:1;
    background: linear-gradient(to right, #945AA9, #AA6287, #CC6F51, #FF8301);
    height:0.4rem;
    width:95%;
    position:absolute;
    z-index: -1;
    top:0.7rem;
    left:0.1rem;
}


/* modal */

.delete_btn:hover{
    cursor:pointer;
}


.modal-content h5.modal-title{
    font-size:var(--font-md-lg);
    font-weight:900;
}

@media screen and (min-width: 676px) {
    .modal-dialog {
      max-width: 500px; /* New width for default modal */
    }
    .modal-content{
        min-height:300px;
    }
}

.modal-content{
    background: #FFFFFF;
    box-shadow: 8px 10px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.descript{
    font-size:var(--font-md-sm);
    color:var(--light-gray);
}

.cancel_btn{
    background-color:var(--light-gray);
}