#active2{
    font-weight:600;

}
#active2>hr{
    height: 0.08em;
    background-color: #757575;
}


.major_col1 {
    display: inline-block;
    float: left;
    width: 23rem;
}

.major_col2 {
    display: inline-block;
    float: right;
    width: 23rem;
}
select {
    width: 22rem;
    height: 3.125rem;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 1.25rem;
    padding-left: 1.5em;
    color: #4A4C53;
}

.first_major{
    border: 1px solid #FC8C15;
}

.major_col1>p{
    margin:0.25em;
    color: #FC8C15;
}

.major{
    overflow:hidden;
    width:fit-content;
    margin:0 auto;
}

.submit_btn{
    margin: 2rem auto;
    display:block;
}

label{
    font-weight: 600;
    font-size:1.25rem;
    color: #4A4C53;
}