#active3{
    font-weight:600;

}
#active3>hr{
    height: 0.08em;
    background-color: #757575;
}

form{
    width:500px;
    margin:0 auto;
}

.mypage_content label{
    display:block;
    font-weight: 600;
    font-size: 22px;

    color: #5C5C5C;
}

.submit_btn{
    display:block;
    margin:3rem auto;
}