main{
    width:94rem;
    margin:auto;
    margin-top:50px;
    overflow: hidden;
}

section{
    display:inline-block;
}

.section-a{
    margin:2em 0;
    float:left;
}

.section-b{
    float:right;
}

.title{
    font-weight: 800;
    font-size: 4rem;
    color: black;
}

.heading{
    height: 10em;
}

.content{
    font-size: 1.5rem;
    width:25em;
    margin: 2em 0;
}

.img{
    /* display: inline-block; */
}

.explore{
    margin-top: 2rem;
}

button{
    padding:0.5em 2.6em; 
    border-radius: 8px;
    background-color: #FB8F1D;
    border:none;

    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color:white;
}

button:focus{
    outline: none;
}

button:hover{
    font-weight: 900;
}