.container{
    width:30rem;
    margin:5rem auto;
}

.id, .pwd{
    margin:1.25rem 0px;
}

.button{
    margin-top:3rem;
    text-align: center;
}

.if{
    margin-top:1rem;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}


/* modal 지우지 마세요*/
/* 
.modal_wrap{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal_content{
    position: relative;
    width: 852px;
    height: 545px;
    background: #FFFFFF;
    box-shadow: 8px 10px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.hidden{
    display:none;
}
.modal_content >.heading{
    width: 510px;
    margin:100px auto 50px;
}

.center{
    text-align: center;
}



.modal_content >form{
    width: 490px;
    margin:0 auto;
}

form label{
    font-weight: 600;
    font-size: 22px;

    color: #5C5C5C;
}

.close_btn{
    font-weight: 600;
    font-size: 35px;
    float:right;
    color: #C6C6C6;
    background-color: white;
    border:none;
    margin-top:20px;
    margin-right:25px;
}

.close_btn:focus{
    outline:none;
}

.modal_overlay{
    width:100%;
    height:100%;
    background: rgba(196, 196, 196, 0.31);
    position:absolute;
} */
