@import "./constant.css";

.row .heading> h1{
    margin-left:0;
}

.id, .pwd{
    margin:1.25rem 0px;
}

.button{
    margin-top:3rem;
    text-align: center;
}

.if{
    margin-top:1rem;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.signup{
    color:var(--orange);
}

.reset_pwd{
    color:var(--orange);
}


.modal-content h5.modal-title{
    font-size:var(--font-lg);
    font-weight:900;
}

@media screen and (min-width: 676px) {
    .modal-dialog {
      max-width: 680px; /* New width for default modal */
    }
    .modal-content{
        min-height:450px;
    }

    .input-width{
        width:500px;
    }
}

.modal-content{
    background: #FFFFFF;
    box-shadow: 8px 10px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.reset_pwd:hover{
    cursor:pointer;
}