nav{
    height: 5rem;
    width:94rem;
    margin:auto;
    margin-bottom: 2rem;
}

.logo{
    float:left;
    width: 20%;
    height:100%;
    font-weight: bold;
    font-size: 3rem;
    color: #767676;
}

.logo:hover{
    text-decoration: none;
    color:#767676;
}

.nav-items{
    float:right;
    height:100%;

    display: flex;
    /*위에서 아래로 수직 배치*/
    flex-direction: column;
    /*중앙정렬*/
    justify-content: center;

}

.nav-item{
    display:inline;
    height: 100%;
    list-style:none;
    float:left;
    margin: 0px 1em;
}

.login_logout{
    display: inline-block;
    height: 3em;
    width: 10em;

    border: 1px solid #FB8F1D;
    box-sizing: border-box;
    border-radius: 8px;

    font-weight: 500;
    line-height: 3em;

    text-align: center;
    background-color: white;
    color: #FB8F1D;
}


.signup_mypage{
    display: inline-block;
    height: 3em;
    width: 10em;

    border: 1px solid #FB8F1D;
    box-sizing: border-box;
    border-radius: 8px;

    font-weight: 500;
    line-height: 3em;

    text-align: center;
    background-color: #FB8F1D;
    color: white;
}

.login_logout:hover{
    color: #FB8F1D;
    text-decoration: none;
    font-weight: 800;
}

.signup_mypage:hover{
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.not_btn{
    line-height: 3em;
}

.nav-link{
    line-height: 2rem;
    color: #B8BECD;
}