*{
    font-family: Inter;
}

header{
    height: 160px;
    display: flex;
    /*위에서 아래로 수직 배치*/
    flex-direction: column;
    /*중앙정렬*/
    justify-content: center;
    /*background-color: palegoldenrod;*/
}

nav{
    height: 80px;
    width:1500px;
    margin:auto;
    /*background-color:orange;*/
}

.logo{
    float:left;
    width: 20%;
    height:100%;
    

    font-family: Russo One;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #767676;

    

    /*background-color: paleturquoise;*/
}

.logo:hover{
    text-decoration: none;
    color:#767676;
}

.nav-items{
    float:right;
    height:100%;

    display: flex;
    /*위에서 아래로 수직 배치*/
    flex-direction: column;
    /*중앙정렬*/
    justify-content: center;

}

.nav-item{
    display:inline;
    height: 100%;
    list-style:none;
    float:left;
    margin: 0px 10px;
    
    

   /* background-color: chartreuse;*/
}

.login_logout{
    display: inline-block;
    height: 55px;
    width: 165px;

    border: 1px solid #FB8F1D;
    box-sizing: border-box;
    border-radius: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 50px;

    text-align: center;
    background-color: white;
    color: #FB8F1D;
}


.signup_mypage{
    display: inline-block;
    height: 55px;
    width: 165px;

    border: 1px solid #FB8F1D;
    box-sizing: border-box;
    border-radius: 8px;

    
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background-color:#FB8F1D;
    color: white;
}

.login_logout:hover{
    color: #FB8F1D;
    text-decoration: none;
    font-weight: bold;
}
.signup_mypage:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.not_btn{
    line-height: 40px;
}

.nav-link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #B8BECD;
}