@import "./constant.css";

.logo_icon{
    width:4rem;
}

.logo{
    font-size:var(--font-xl);
    font-weight:900;
    color:var(--text-color);
}

.logo:hover{
    
    color:var(--text-color);
}

.nav-item{
    margin:0.5rem;
}

.nav-item a{
    font-size:var(--font-md-sm);
    text-align: center;
}

.menu-item:hover{
    font-weight: 700;
    color:var(--text-color);
}

.menu-item{
    color:var(--light-gray);
}

.box-item{
    color:var(--orange);
    border:1px solid var(--orange);
    border-radius:0.5rem;
    width:9rem;
    text-align:center;
}

.box-item:hover{
    font-weight:700;
    color:var(--orange);
}

.orange{
    background-color:var(--orange);
    color:white;
}

.orange:hover{
    font-weight:700;
    color:white;
}
/* 
.nav-items#navbarNav{
    display:flex;
    justify-content: flex-end;
}

@media screen and(max-width:992px){
    .nav-items{
        display:flex;
        flex-direction: column;
        align-items:center;
    }    
} */