@import "./constant.css";


@media (min-width: 1200px) {
    .notice_board {
      width:70%;
    }
  }


.page-link{
    border:none;
    color: var(--text-color);
}


.active{
    color:#FB8F1D;
}

.notice_title{
    color:var(--text-color);
}

