.heading{
    margin-bottom:70px;
}

h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #4A4A4A;
}


input{
    width: 490px;
    height: 50px;
    background: #F2F2F2;
    border-radius: 10px;
    border:none;
}
.submit{
    width: 306px;
    height: 55px;
    background: #FB8F1D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border:none;


    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;

    color: #FFFFFF;
}

.button{
    margin-top:50px;
    text-align: center;
}

.small_description{
    margin-top:15px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;

    color: #797979;
}

form input::placeholder{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #9C9C9C;
}

form input{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
}

form input:focus{
    outline: none;
}

.modal_wrap{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal_content{
    position: relative;
    width: 852px;
    height: 545px;
    background: #FFFFFF;
    box-shadow: 8px 10px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.modal_content >.heading{
    width: 510px;
    margin:100px auto 50px;
}

.center{
    text-align: center;
}



.modal_content >form{
    width: 490px;
    margin:0 auto;
}

form label{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;

    color: #5C5C5C;
}

.close_btn{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    float:right;
    color: #C6C6C6;
    background-color: white;
    border:none;
    margin-top:20px;
    margin-right:25px;
}

.close_btn:focus{
    outline:none;
}

.modal_overlay{
    width:100%;
    height:100%;
    background: rgba(196, 196, 196, 0.31);
    position:absolute;
}
