<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>

</script>
<div class="container">
    <button type="button" id="btn_create" onclick="location.href='{% url 'book:create' %}'">글 작성하기</button>
    <form method="post">
    <select name="up_category_menu">
        <option value="전체" onclick="location.href='{% url 'book:index' %}'"> 전체 </option>
        <option value="{{user.first_major}}" onclick="location.href='{% url 'book:major1' %}'"> {{user.first_major}} </option>
        {% if user.second_major != "" %}
            <option value="{{user.second_major}}" onclick="location.href='{% url 'book:major2' %}'"> {{user.second_major}} </option>
        {% endif %}
        {% if user.third_major != "" %}
            <option value="{{user.third_major}} " onclick="location.href='{% url 'book:major3' %}'"> {{user.third_major}} </option>
        {% endif %}
    </select>
    </form>
<table id="book_table">
    <tbody>
        {% if object_list %}
            {% for object in object_list %}
                <tr class="text-center">
                    <td><a href="{% url 'book:detail' object.id %}">
                        {% if object.image.url != "" %}
                            <img src=" {{ object.image.url }}" class="book_list_img" alt="..." height="280" width="180">
                        {% endif %}
                        </a>
                    </td>
                    <td><a href="{% url 'book:detail' object.id %}" class="book_list_title">{{ object.title|truncatechars:30 }} {{ object.lecture }}</a>
                    <br><a href="{% url 'book:detail' object.id %}" class="book_list_text"><br/>{{ object.text|truncatechars:79 }}   {{ object.price }}</a></td>
                    <td>{% if object.deal_flag == 1 %} 거래중 {% endif %}
                    {% if object.deal_flag == 0 %} 거래완료 {% endif %}</td>
                </tr>
            {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="5">
                작성된 게시글이 없습니다.
            </td>
        </tr>
        {% endif %}
    </tbody>
    </table>
</div>

    {% if is_paginated %}
    <div class="wrap_pagination">
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
            tabindex="-1"> < </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"> < </a>
    </li>
    {% endif %}

    {% for page in page_range %}
    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link"
            href="?page={{ page_obj.next_page_number }}"> > </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#"> > </a>
    </li>
    {% endif %}
</ul>
    </div>
{% endif %}
    <form action="{% url 'book:search' %}" method="post"> {% csrf_token %}
        <input class="search_input" type="search" placeholder="    검색어를 입력해 주세요" name="q" value="{{q}}">
        <button type="submit" class="btn_search" > 검색 </button>
    </form>
</div>
</body>
</html>