{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_list2.css' %}">
{% endblock %}

<script type="text/javascript">
function changeMajorSelect(){
    var selectBox = document.getElementById("up_category_menu");
    var selectValue = selectBox.options[selectBox.selectedIndex].value;
    var selectText = selectBox.options[selectBox.selectedIndex].text;

    var all = "all"
    var major1 = "major1"
    var major2 = "major2"
    var major3 = "major3"

    if (selectValue == all){
        var url = '{% url 'book:index' %}';
        window.location.href = url;
    }else if(selectValue == major1){
        var url1 = '{% url 'book:major1' %}';
        window.location.href = url1;

    }else if(selectValue == major2){
        var url2 = '{% url 'book:major2' %}';
        window.location.href = url2;
    }else if(selectValue == major3){
        var url3 = '{% url 'book:major3' %}';
        window.location.href = url3;
    }
}
</script>

<div class="container">
    <div class="wrapper">
        <form method="post">
        <select id="up_category_menu" name="up_category_menu" onchange="changeMajorSelect()">
            {% if object.major_category == '전체' %}
                <option value="all" selected> 전체 </option>
                <option value="major1"  > {{user.first_major}} </option>
                {% if user.second_major != "" %}
                    <option value="major2"> {{user.second_major}} </option>
                {% endif %}
                {% if user.third_major != "" %}
                    <option value="major3"> {{user.third_major}} </option>
                {% endif %}
            {% endif %}

            {% if object.major_category == user.first_major %}
                <option value="all" > 전체 </option>
                <option value="major1" selected > {{user.first_major}} </option>
                {% if user.second_major != "" %}
                    <option value="major2"> {{user.second_major}} </option>
                {% endif %}
                {% if user.third_major != "" %}
                    <option value="major3"> {{user.third_major}} </option>
                {% endif %}
            {% endif %}

            {% if object.major_category == user.second_major %}
                <option value="all" > 전체 </option>
                <option value="major1"  > {{user.first_major}} </option>
                {% if user.second_major != "" %}
                    <option value="major2" selected> {{user.second_major}} </option>
                {% endif %}
                {% if user.third_major != "" %}
                    <option value="major3"> {{user.third_major}} </option>
                {% endif %}
            {% endif %}

            {% if object.major_category == user.third_major %}
                <option value="all"> 전체 </option>
                <option value="major1" > {{user.first_major}} </option>
                {% if user.second_major != "" %}
                    <option value="major2"> {{user.second_major}} </option>
                {% endif %}
                {% if user.third_major != "" %}
                    <option value="major3" selected> {{user.third_major}} </option>
                {% endif %}
            {% endif %}
        </select>
        <hr id="line_major_bar">
    </form>
            <button type="button" id="btn_create" onclick="location.href='{% url 'book:create' %}'" >전공책 등록하기</button>
    </div>

    <div class="wrapper">
        <form action="{% url 'book:search' %}" method="post" id="search_form"> {% csrf_token %}
            <input class="search_input" type="search" placeholder="     도서 검색 (수업, 책제목, 저자 등)" name="q" value="{{q}}">
            <button type="submit" class="btn_search" > <img src="{% static 'img/search_btn.png' %}" alt="" height="45" width="43"> </button>
        </form>
    </div>

</div>