{% load static %}
<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BooKU">
    <meta name="keywords" content="BooKU">

    <title>BooKU</title>
    <!--reset CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    
    
    {% block styles %}
    {% endblock %}
</head>

<body>
    <div class="header_main">
        <header>
            {% include "navbar.html" %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    
    <!--footer 추가-->
    <div class="footer">
        <div>
          <h4>BooKU</h4>
          Contact Us | booku@outlook.kr
          <div class="">
            <a class="terms_of" href="{% url 'user:terms_of_service' %}">서비스이용약관</a>
           <span class="gray">및</span>
            <a class="terms_of" href="{% url 'user:privacy_policy' %}">개인정보처리방침</a>
          </div>
          <div>
            © 2020 Copyright:
            <a class="text-dark" href="https://booku.club/">BooKU.club</a>
          </div>

        </div>

</div>
</body>

</html>