{% load static %}
<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BooKU">
    <meta name="keywords" content="BooKU">

    <title>BooKU</title>
    <!--reset CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    {% block styles %}
    {% endblock %}
</head>

<body>
    <header>
        {% include "navbar.html" %}
        
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!--footer 추가-->
    
</body>

</html>