{% extends "base.html" %}
<!--html 파일 마다 css를 하나씩만 적용-->
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}

<section class="section-a">

    <h1 class="title">건국대학교<br>전공책 교환 플랫폼</h1>

    <p class="content">
        서비스에 대한 간단한 설명과 소개 서비스에 대한 간단한 설명과 소개 서비스에 대한 간단한 설명과 소개 서비스에 대한 간단한 설명과 소개 서비스에 대한 간단한 설명과 소개 서비스에 대한 간단한
        설명과 소개
    </p>
    <div class="explore">
        <button>Explore</button>
    </div>
</section>
<section class="section-b">
    <img src="{% static 'img/index.svg' %}" class="index_img">
</section>
{% endblock %}