<script type="text/javascript">
function changeMajorSelect(){
    var selectBox = document.getElementById("up_category_menu");
    var selectValue = selectBox.options[selectBox.selectedIndex].value;
    var selectText = selectBox.options[selectBox.selectedIndex].text;

    var all = "all"
    var major1 = "major1"
    var major2 = "major2"
    var major3 = "major3"

    if (selectValue == all){
        var url = '{% url 'book:index' %}';
        window.location.href = url;
    }else if(selectValue == major1){
        var url1 = '{% url 'book:major1' %}';
        window.location.href = url1;

    }else if(selectValue == major2){
        var url2 = '{% url 'book:major2' %}';
        window.location.href = url2;
    }else if(selectValue == major3){
        var url3 = '{% url 'book:major3' %}';
        window.location.href = url3;
    }
}
</script>
    <button type="button" id="btn_create" onclick="location.href='{% url 'book:create' %}'">글 작성하기</button>
    <form action="{% url 'book:search' %}" method="post"> {% csrf_token %}
        <input class="search_input" type="search" placeholder="    검색어를 입력해 주세요" name="q" value="{{q}}">
        <button type="submit" class="btn_search" > 검색 </button>
    </form>
    <form method="post">
    <select id="up_category_menu" name="up_category_menu" onchange="changeMajorSelect()">
        <option value="all" > 전체 </option>
        <option value="major1" selected > {{user.first_major}} </option>
        {% if user.second_major != "" %}
            <option value="major2"> {{user.second_major}} </option>
        {% endif %}
        {% if user.third_major != "" %}
            <option value="major3"> {{user.third_major}} </option>
        {% endif %}
    </select>
    </form>