{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/change_pwd_username.css' %}">
{% endblock %}
{% block content %}
<div class="mypage_content">
    {% include 'user/my_page_header.html'%}
    
    <form method="post" class="post-form" action="{% url 'user:change_pwd' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <label for="old_password">기존 비밀번호</label>
        <input type="password" name="old_password" id="old_password">
        <label for="old_password">새 비밀번호</label>
        <input type="password" name="new_password1" id="new_password1">
        <label for="old_password">새 비밀번호 확인</label>
        <input type="password" name="new_password2" id="new_password2">
        <button class="submit_btn" type="submit" class="">변경하기</button>
    </form>
</div>
{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif%}
{% endblock %}