{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/my_posts.css' %}">
{% endblock %}
{% block content %}

<div class="mypage_content">
    {% include 'user/my_page_header.html'%}
</div>

<div class="container">
    {% if object_list %}
        <table id="book_table">
            <thead>
                <th>사진</th>
                <th>제목(저자)</th>
                <th>학과+수업</th>
                <th>
                    상태
                    <button class="btn_stated" onclick="show_box()"> <img src="{% static 'img/state_standard.png' %}" alt="" height="19" width="19"> </button>
                    <div class="state_box">
                      <div id="state_detail2" class="list_state_content">
                          <span style="font-weight: bold; font-size: 14px;"> BooKU 도서 상태 기준 안내</span><button class="btn_closed_state" onclick="close_box()"><img src="{% static 'img/state_standard.png' %}" alt="" height="19" width="19"></button>
                          <div class="state_box_text2" align="left">
                              <span style="font-weight: bold;"> 최상:</span> 새것과 같은 상태 <br>
                              <span style="font-weight: bold;"> 상:</span> 약간의 필기감 <br>
                              <span style="font-weight: bold;"> 보통:</span> 헌 부분 있음, 필기감, 사용감 있음 <br>
                              <span style="font-weight: bold;"> 하:</span> 찢김, 심한 낙서, 페이지 유실
                          </div>
                      </div>
                    </div>
                </th>

                <th>가격</th>
                <th>거래가능</th>
            </thead>

            <tbody>
                    {% for object in object_list %}
                        <tr class="tabel_row" onclick="location.href='{% url 'book:detail' object.id %}'">
                            <td><a href="{% url 'book:detail' object.id %}">
                                {% if object.image.url != "" %}
                                    <img src=" {{ object.image.url }}" class="book_list_img" alt="..." height="94px" width="99px">
                                {% endif %}
                                </a>
                            </td>
                            <td><div style="font-size: 22px;">{{ object.title|truncatechars:30 }}</div> <br> <div style="font-weight: normal;"> 저자: {{ object.writer }}</div> </td>
                            <td> <div style="font-weight: normal;">{{ object.major_category }}</div> <br> <div style="font-size: 21px;"> {{ object.lecture }}</div> </td>
                            <td> {{ object.state }}  </td>
                            <td>
                                {% if object.price == 0 %}
                                    무료나눔
                                {% else %}
                                    {{ object.price }}₩
                                {% endif %}
                            </td>
                            <td>
                                {% if object.deal_flag == 1 %} 거래중 {% endif %}
                                <div style="color:#ADADAD;">{% if object.deal_flag == 0 %} 거래완료 {% endif %}</div>

                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="no_search">
            작성된 글이 없습니다
        </div>
    {% endif %}
</div>
{% endblock %}