{% extends "base.html" %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    {% if validlink %}
    <div class="row mx-auto justify-content-start" style="max-width:500px">
        <div class="heading">
            <h1 class="m-0">비밀번호 재설정
                <hr>
            </h1>
        </div>
        <form class="form_group" method="post">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <label for="new_password1">새 비밀번호</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1">
            <label for="new_password2">새 비밀번호 확인</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2">
            <div class="row justify-content-center">
                <button class="submit_btn my-4" type="submit">변경하기</button>
            </div>
        </form>
    </div>
    {% else %}
    <h3>비밀번호 초기화를 실패하였습니다.</h3>
    <p>비밀번호 초기화 링크가 이미 사용되어 올바르지 않습니다. 비밀번호 초기화를 다시 해주세요.</p>
    {% endif %}
</div>
{% endblock %}