{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/change_pwd_username.css' %}">
{% endblock %}
{% block content %}
<div class="content">
    {% if title %}
    <h2>비밀번호 초기화를 실패하였습니다.</h2>
    <p>비밀번호 초기화 링크가 이미 사용되어 올바르지 않습니다. 비밀번호 초기화를 다시 해주세요.</p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <h3>비밀번호 재설정</h3>
        {% include 'form_errors.html' %}
        <label for="old_password">새 비밀번호</label>
        <input type="password" name="new_password1" id="new_password1">
        <label for="old_password">새 비밀번호 확인</label>
        <input type="password" name="new_password2" id="new_password2">
        <button type="submit" class="">변경하기</button>
    </form>
    {% endif %}
</div>
{% endblock %}