{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}
{% block content %}

<div class="content">
    <h2>회원가입<hr></h2>
    <form method="POST" action="{% url 'user:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">닉네임</label><br>
            <input type="text" class="full" name="username" id="username"
                value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password1">비밀번호</label><br>
            <input type="password" class="full" name="password1" id="password1"
                value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password2">비밀번호 확인</label><br>
            <input type="password" class="full" name="password2" id="password2"
                value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="email">이메일</label><br>
            <input type="text" class="full" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}">
            <p class="email_description">건국대학교 이메일을 입력해주세요. 인증메일이 발송됩니다.</p>
        </div>
        <div class="form-group g_dob">
            <div class="gender">
                <p>성별</p>
                <div>
                    <label for="male">남</label>
                    <input type="radio" name="gender" id="male" value="male">
                    <label for="female">여</label>
                    <input type="radio" name="gender" id="female" value="female">
                </div>
            </div>
            <div class="date_of_birth">
                <label for="date_of_birth">생년월일</label><br>
                <input type="date" name="date_of_birth" id="date_of_birth"
                    value="{{form.date_of_birth.value|default_if_none:''}}">
            </div>
        </div>
        <div class="university">
            <div class="major">학과선택</div>
            <hr>
            <div class="major_col1 form-group">
                <select class="first_major" name="first_major" id="first_major">
                    <option value="" disabled selected hidden>원전공</option>
                    <optgroup label="문과대학">
                        <option value="영어영문학과">영어영문학과</option>
                        <option value="국어국문학과">국어국문학과</option>
                        <option value="중어중문학과">중어중문학과</option>
                        <option value="철학과">철학과</option>
                        <option value="사학과">사학과</option>
                        <option value="지리학과">지리학과</option>
                        <option value="미디어커뮤니케이션학과">미디어커뮤니케이션학과</option>
                        <option value="문화컨텐츠학과">문화컨텐츠학과</option>
                    </optgroup>
                    <optgroup label="이과대학">
                        <option value="수학과">수학과</option>
                        <option value="물리학과">물리학과</option>
                        <option value="화학과">화학과</option>
                    </optgroup>
                    <optgroup label="건축대학">
                        <option value="건축학부">건축학부</option>
                    </optgroup>
                    <optgroup label="공과대학">
                        <option value="사회환경공학부">사회환경공학부</option>
                        <option value="기계항공학부">기계항공학부</option>
                        <option value="전기전자공학부">전기전자공학부</option>
                        <option value="화학공학부">화학공학부</option>
                        <option value="컴퓨터공학부">컴퓨터공학부</option>
                        <option value="산업경영공학부 산업공학과'">산업경영공학부 산업공학과</option>
                        <option value="산업경영공학부 신산업융합학과">산업경영공학부 신산업융합학과</option>
                        <option value="생물공학과">생물공학과</option>
                        <option value="k뷰티산업융합학과">k뷰티산업융합학과</option>
                    </optgroup>
                    <optgroup label="사회과학대학">
                        <option value="정치외교학과">정치외교학과</option>
                        <option value="경제학과'">경제학과</option>
                        <option value="행정학과'">행정학과</option>
                        <option value="국제무역학과">국제무역학과</option>
                        <option value="응용통계학과">응용통계학과</option>
                        <option value="융합인재학과">융합인재학과</option>
                        <option value="글로벌비즈니스학과">글로벌비즈니스학과</option>
                    </optgroup>
                    <optgroup label="경영대학">
                        <option value="경영학과">경영학과</option>
                        <option value="기술경영학과">기술경영학과</option>
                    </optgroup>
                    <optgroup label="부동산과학원">
                        <option value="부동산학과">부동산학과</option>
                    </optgroup>
                    <optgroup label="KU융합과학기술원">
                        <option value="미래에너지공학과">미래에너지공학과</option>
                        <option value="스마트운행체공학과">스마트운행체공학과</option>
                        <option value="스마트ICT융합공학과">스마트ICT융합공학과</option>
                        <option value="화장품공학과">화장품공학과</option>
                        <option value="줄기세포재생공학과">줄기세포재생공학과</option>
                        <option value="의생명공학과">의생명공학과</option>
                        <option value="시스템생명공학">시스템생명공학</option>
                        <option value="융합생명공학과">융합생명공학과</option>
                    </optgroup>
                    <optgroup label="상허생명과학대학">
                        <option value="생명과학특성학">생명과학특성학</option>
                        <option value="동물자원과학과">동물자원과학과</option>
                        <option value="식량자원공학과">식량자원공학과</option>
                        <option value="축산식품생명공학과">축산식품생명공학과</option>
                        <option value="식품유통공학과">식품유통공학과</option>
                        <option value="환경보건과학과">환경보건과학과</option>
                        <option value="산림조경학과">산림조경학과</option>
                    </optgroup>
                    <optgroup label="수의과대학">
                        <option value="수의예과">수의예과</option>
                        <option value="수의학과">수의학과</option>
                    </optgroup>
                    <optgroup label="예술디자인대학">
                        <option value="커뮤니케이션디자인학과">커뮤니케이션디자인학과</option>
                        <option value="산업디자인학과">산업디자인학과</option>
                        <option value="의상디자인학과">의상디자인학과</option>
                        <option value="리빙디자인학과">리빙디자인학과</option>
                        <option value="현대미술학과">현대미술학과</option>
                        <option value="영상영화학과">영상영화학과</option>
                    </optgroup>
                    <optgroup label="사범대학">
                        <option value="일어교육과">일어교육과</option>
                        <option value="수학교육과">수학교육과</option>
                        <option value="체육교육과">체육교육과</option>
                        <option value="음악교육과">음악교육과</option>
                        <option value="교육공학과">교육공학과</option>
                        <option value="영어교육과">영어교육과</option>
                        <option value="교직과">교직과</option>
                    </optgroup>
                </select>
                <p> 필수 입력사항입니다.</p>
                <!-- <input list="majors" class="" name="first_major" id="first_major" placeholder="원전공"
                    value="{{ form.first_major.value|default_if_none:'' }}"> -->
            </div>
            <div class="major_col2">
                <div class="major_row form-group">
                    <select name="second_major" id="second_major">
                        <option value="" disabled selected hidden>다/부전공1</option>
                        <option value="">해당사항 없음</option>
                        <optgroup label="문과대학">
                            <option value="영어영문학과">영어영문학과</option>
                            <option value="국어국문학과">국어국문학과</option>
                            <option value="중어중문학과">중어중문학과</option>
                            <option value="철학과">철학과</option>
                            <option value="사학과">사학과</option>
                            <option value="지리학과">지리학과</option>
                            <option value="미디어커뮤니케이션학과">미디어커뮤니케이션학과</option>
                            <option value="문화컨텐츠학과">문화컨텐츠학과</option>
                        </optgroup>
                        <optgroup label="이과대학">
                            <option value="수학과">수학과</option>
                            <option value="물리학과">물리학과</option>
                            <option value="화학과">화학과</option>
                        </optgroup>
                        <optgroup label="건축대학">
                            <option value="건축학부">건축학부</option>
                        </optgroup>
                        <optgroup label="공과대학">
                            <option value="사회환경공학부">사회환경공학부</option>
                            <option value="기계항공학부">기계항공학부</option>
                            <option value="전기전자공학부">전기전자공학부</option>
                            <option value="화학공학부">화학공학부</option>
                            <option value="컴퓨터공학부">컴퓨터공학부</option>
                            <option value="산업경영공학부 산업공학과'">산업경영공학부 산업공학과</option>
                            <option value="산업경영공학부 신산업융합학과">산업경영공학부 신산업융합학과</option>
                            <option value="생물공학과">생물공학과</option>
                            <option value="k뷰티산업융합학과">k뷰티산업융합학과</option>
                        </optgroup>
                        <optgroup label="사회과학대학">
                            <option value="정치외교학과">정치외교학과</option>
                            <option value="경제학과'">경제학과</option>
                            <option value="행정학과'">행정학과</option>
                            <option value="국제무역학과">국제무역학과</option>
                            <option value="응용통계학과">응용통계학과</option>
                            <option value="융합인재학과">융합인재학과</option>
                            <option value="글로벌비즈니스학과">글로벌비즈니스학과</option>
                        </optgroup>
                        <optgroup label="경영대학">
                            <option value="경영학과">경영학과</option>
                            <option value="기술경영학과">기술경영학과</option>
                        </optgroup>
                        <optgroup label="부동산과학원">
                            <option value="부동산학과">부동산학과</option>
                        </optgroup>
                        <optgroup label="KU융합과학기술원">
                            <option value="미래에너지공학과">미래에너지공학과</option>
                            <option value="스마트운행체공학과">스마트운행체공학과</option>
                            <option value="스마트ICT융합공학과">스마트ICT융합공학과</option>
                            <option value="화장품공학과">화장품공학과</option>
                            <option value="줄기세포재생공학과">줄기세포재생공학과</option>
                            <option value="의생명공학과">의생명공학과</option>
                            <option value="시스템생명공학">시스템생명공학</option>
                            <option value="융합생명공학과">융합생명공학과</option>
                        </optgroup>
                        <optgroup label="상허생명과학대학">
                            <option value="생명과학특성학">생명과학특성학</option>
                            <option value="동물자원과학과">동물자원과학과</option>
                            <option value="식량자원공학과">식량자원공학과</option>
                            <option value="축산식품생명공학과">축산식품생명공학과</option>
                            <option value="식품유통공학과">식품유통공학과</option>
                            <option value="환경보건과학과">환경보건과학과</option>
                            <option value="산림조경학과">산림조경학과</option>
                        </optgroup>
                        <optgroup label="수의과대학">
                            <option value="수의예과">수의예과</option>
                            <option value="수의학과">수의학과</option>
                        </optgroup>
                        <optgroup label="예술디자인대학">
                            <option value="커뮤니케이션디자인학과">커뮤니케이션디자인학과</option>
                            <option value="산업디자인학과">산업디자인학과</option>
                            <option value="의상디자인학과">의상디자인학과</option>
                            <option value="리빙디자인학과">리빙디자인학과</option>
                            <option value="현대미술학과">현대미술학과</option>
                            <option value="영상영화학과">영상영화학과</option>
                        </optgroup>
                        <optgroup label="사범대학">
                            <option value="일어교육과">일어교육과</option>
                            <option value="수학교육과">수학교육과</option>
                            <option value="체육교육과">체육교육과</option>
                            <option value="음악교육과">음악교육과</option>
                            <option value="교육공학과">교육공학과</option>
                            <option value="영어교육과">영어교육과</option>
                            <option value="교직과">교직과</option>
                        </optgroup>
                    </select>
                </div>
                <div class="major_row form-group">
                    <select name="third_major" id="third_major">
                        <option value="" disabled selected hidden>다/부전공2</option>
                        <option value="">해당사항 없음</option>
                        <optgroup label="문과대학">
                            <option value="영어영문학과">영어영문학과</option>
                            <option value="국어국문학과">국어국문학과</option>
                            <option value="중어중문학과">중어중문학과</option>
                            <option value="철학과">철학과</option>
                            <option value="사학과">사학과</option>
                            <option value="지리학과">지리학과</option>
                            <option value="미디어커뮤니케이션학과">미디어커뮤니케이션학과</option>
                            <option value="문화컨텐츠학과">문화컨텐츠학과</option>
                        </optgroup>
                        <optgroup label="이과대학">
                            <option value="수학과">수학과</option>
                            <option value="물리학과">물리학과</option>
                            <option value="화학과">화학과</option>
                        </optgroup>
                        <optgroup label="건축대학">
                            <option value="건축학부">건축학부</option>
                        </optgroup>
                        <optgroup label="공과대학">
                            <option value="사회환경공학부">사회환경공학부</option>
                            <option value="기계항공학부">기계항공학부</option>
                            <option value="전기전자공학부">전기전자공학부</option>
                            <option value="화학공학부">화학공학부</option>
                            <option value="컴퓨터공학부">컴퓨터공학부</option>
                            <option value="산업경영공학부 산업공학과'">산업경영공학부 산업공학과</option>
                            <option value="산업경영공학부 신산업융합학과">산업경영공학부 신산업융합학과</option>
                            <option value="생물공학과">생물공학과</option>
                            <option value="k뷰티산업융합학과">k뷰티산업융합학과</option>
                        </optgroup>
                        <optgroup label="사회과학대학">
                            <option value="정치외교학과">정치외교학과</option>
                            <option value="경제학과'">경제학과</option>
                            <option value="행정학과'">행정학과</option>
                            <option value="국제무역학과">국제무역학과</option>
                            <option value="응용통계학과">응용통계학과</option>
                            <option value="융합인재학과">융합인재학과</option>
                            <option value="글로벌비즈니스학과">글로벌비즈니스학과</option>
                        </optgroup>
                        <optgroup label="경영대학">
                            <option value="경영학과">경영학과</option>
                            <option value="기술경영학과">기술경영학과</option>
                        </optgroup>
                        <optgroup label="부동산과학원">
                            <option value="부동산학과">부동산학과</option>
                        </optgroup>
                        <optgroup label="KU융합과학기술원">
                            <option value="미래에너지공학과">미래에너지공학과</option>
                            <option value="스마트운행체공학과">스마트운행체공학과</option>
                            <option value="스마트ICT융합공학과">스마트ICT융합공학과</option>
                            <option value="화장품공학과">화장품공학과</option>
                            <option value="줄기세포재생공학과">줄기세포재생공학과</option>
                            <option value="의생명공학과">의생명공학과</option>
                            <option value="시스템생명공학">시스템생명공학</option>
                            <option value="융합생명공학과">융합생명공학과</option>
                        </optgroup>
                        <optgroup label="상허생명과학대학">
                            <option value="생명과학특성학">생명과학특성학</option>
                            <option value="동물자원과학과">동물자원과학과</option>
                            <option value="식량자원공학과">식량자원공학과</option>
                            <option value="축산식품생명공학과">축산식품생명공학과</option>
                            <option value="식품유통공학과">식품유통공학과</option>
                            <option value="환경보건과학과">환경보건과학과</option>
                            <option value="산림조경학과">산림조경학과</option>
                        </optgroup>
                        <optgroup label="수의과대학">
                            <option value="수의예과">수의예과</option>
                            <option value="수의학과">수의학과</option>
                        </optgroup>
                        <optgroup label="예술디자인대학">
                            <option value="커뮤니케이션디자인학과">커뮤니케이션디자인학과</option>
                            <option value="산업디자인학과">산업디자인학과</option>
                            <option value="의상디자인학과">의상디자인학과</option>
                            <option value="리빙디자인학과">리빙디자인학과</option>
                            <option value="현대미술학과">현대미술학과</option>
                            <option value="영상영화학과">영상영화학과</option>
                        </optgroup>
                        <optgroup label="사범대학">
                            <option value="일어교육과">일어교육과</option>
                            <option value="수학교육과">수학교육과</option>
                            <option value="체육교육과">체육교육과</option>
                            <option value="음악교육과">음악교육과</option>
                            <option value="교육공학과">교육공학과</option>
                            <option value="영어교육과">영어교육과</option>
                            <option value="교직과">교직과</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit">가입하기</button>
    </form>
</div>
{% endblock %}